@model Automarket.Domain.Entity.Car

@{
    ViewBag.Title = "title";
    //Layout = " _Layout ";
}
<div class="carOne">

    <img src="~/css/Files/@Model.PathCar"/>
    <div class="Desc"> 
        <p>@Model.Name</p>
        <p>@Model.Price ₽</p>
        <p>@Model.Description</p>
        <br>
        <a asp-action="GetCars">К списку</a>
    </div>
    
</div>

