<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Automarket</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>*@
    <link rel="stylesheet" href="~/Automarket.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Lay.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/OneCar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CreateCar.css" asp-append-version="true" />
    
</head>
@*<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Automarket</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Automarket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>*@

<body>
    <header id="header">
        <div class="logo">
            <a href="/">
                <img src='~/css/image/l.svg' alt="logo" />
            </a>
        </div>
        <div class="right-header">
            <ul class="mnu-top">
                <li><a href="#a">О нас</a></li>
                <li><a href="#a">Коллекции</a></li>
                <li><a href="#a">Контакты</a></li>
            </ul>
        </div>
        <div class="btns">
            <a href="#a" class="btn">Войти</a>
        </div>
    </header>
    <div class="pick">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer>
        <div class="container3">
            <div class="logo2">
                <img src='~/css/image/l.svg' alt="logo" />
            </div>
            <div class="line"></div>
            <div class="inner_footer">
                <li><a href="/">О нас</a></li>
                <li><a href="/">Коллекции</a></li>
                <li><a href="/">Контакты</a></li>
            </div>

            <div class="wrapper-F">
                <div class="contacts-F">
                    <p>Dusiner  -  OksanaPod31</p>
                    <p>Frontend  -  Valmik</p>
                </div>

                <ul class="social">
                    <li class="item">
                        <a href="/" class="link">
                            <img src='~/css/image/twitter.svg' alt="twitter" />
                        </a>
                    </li>
                    <li class="item">
                        <a href="/" class="link">
                            <img src='~/css/image/vk.svg' alt="vk" />
                        </a>
                    </li>
                    <li class="item">
                        <a href="/" class="link">
                            <img src='~/css/image/facebook.svg' alt="facebook" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>