@font-face {
    font-family: 'TTtravelsRegular';
    src: url('/fonts/TTtravels/TTTravels-Thin.woff') format('woff');
}

.containerV {
    background-image: url(./Image//re6.svg);
    background-size: cover;
    width: 600px;
    height: 400px;
    margin: 80px 350px;
    font-family: TTtravelsRegular;
}

    .container h2 {
        color: white;
        margin-left: 300px;
        padding-top: 30px;
    }

.formItemsV {
    margin-left: 300px;
    margin-top: 50px;
    color: white;
    font-weight: 200;
}

.ItemV label, input {
    display: block;
}

.ItemV {
    margin-bottom: 40px;
}

    .Item:last-child {
        width: 190px;
    }

input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: inherit;
    outline: none;
}

.BlockButtV {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
}

    .BlockButtV a {
        padding: 10px 30px;
        border-radius: 20px;
        font-size: 13px;
        border: none;
        color: white;
        text-decoration: none;
    }

.createbtnV {
    background-color: #9F2525;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 13px;
    border: none;
    color: white;
    text-decoration: none;
}

.cancelbthV {
    background-color: #5F5F5F;
}

    .cancelbthV:hover {
        box-shadow: 0 0 20px #5F5F5F;

    }

.createbtnV:hover {
    box-shadow: 0 0 20px #9F2525;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 13px;
    border: none;
    color: white;
    text-decoration: none;
}
